* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

/* .box {
  height: 250px;
  width: 250px;
  background-color: crimson;
  border-radius: 20px;
} */
/* 
.container {
  padding: 20px;
  border: 3px solid white;
  border-radius: 10px;
} */

/* .box {
  height: 200px;
  width: 200px;
  background: linear-gradient(to right bottom, rgb(248, 66, 103), crimson);
  border-radius: 10px;
  margin: 15px;
} */

.circle {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: linear-gradient(to right bottom, lightblue, cadetblue);
  margin: 15px;
}

button {
  padding: 20px 100px;
  border-radius: 50px;
  background: linear-gradient(rgb(48, 231, 221), rgb(8, 241, 109));
  border: none;
  color: #000;
  font-size: 25px;
  font-weight: 600;
}

button:active {
  scale: 0.96;
}

img {
  height: 190px;
}

.box {
  height: 200px;
  width: 200px;
  background: linear-gradient(to right bottom, rgb(248, 66, 103), crimson);
  border-radius: 10px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
}
