* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

section {
  height: 100%;
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 35px;
}

.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

nav h1 {
  font-size: 28px;
  display: flex;
  align-items: center;
}
nav h1 i {
  rotate: 45deg;
  display: inline-block;
  margin-right: 5px;
  font-size: 38px;
}
nav h4 {
  font-size: 20px;
  font-weight: 500;
}

nav button {
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
}

.center {
  height: 80%;
  width: 100%;
  display: flex;
  padding: 28px 35px;
}

.center-part1 {
  height: 100%;
  width: 45%;
}

.center-part1 h1 {
  font-size: 80px;
}

.center-part1 p {
  font-size: 20px;
  padding: 20px 0;
}

.center-part1 button {
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
}

.center-part2 {
  height: 100%;
  width: 55%;
  position: relative;
}

.center-part2 img {
  height: 100%;
  position: absolute;
  right: 5%;
}

.section1bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.section1bottom img {
  height: 40px;
}

.section2 .services {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 50px;
}

.services h3 {
  background-color: #97ff67;
  font-weight: 500;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  font-size: 28px;
}

.services p {
  width: 40%;
  font-size: 13px;
  font-weight: 500;
}

.container {
  height: 100%;
  width: 100%;
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.elem {
  flex-shrink: 0;
  height: 290px;
  width: 47%;
  padding: 30px;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: 0px 10px 0px black;
  display: flex;
  position: relative;
}

.elem-part1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.elem-part2 {
  height: 100%;
  width: 50%;
}

.elem-part2 img {
  height: 100%;
}

.elem-part1 h2 {
  font-size: 35px;
  font-weight: 500;
  width: 90%;
  background-color: #97ff67;
}

.elem-part1 h4 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  gap: 14px;
}

.elem-part1 h4 i {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 10px;
  font-weight: 900;
}

.black {
  background-color: black;
}

.black h2 {
  background-color: white;
  color: black;
}
.black h4 {
  color: white;
}
.black h4 i {
  background-color: white;
  color: black;
}

.black img {
  height: 60%;
  width: 60%;
  object-fit: cover;

  margin-left: 70px;
  margin-top: 50px;
}

.line2 img {
  height: 60%;
  object-fit: cover;
  margin-top: 50px;
}
